a {
    color: inherit;
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }

div {
    display: inline-block;
    margin-left: 50px;
}

body {
    background-color: white;
    color: black;
}
  
.dark-mode {
    background-color: black;
    color: white;
}

.thumbnails img{
    width: 450px;
    height: 350px;
    margin-bottom: 50px;
    outline: 2px solid black;
}

.menu-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: -50px;
    bottom: 0px;
    max-height: 50px;
    background-color: #e31837;
}
 
.img-container .img-desc {
    position: relative;
    display: flex;
    align-items: flex-end;
  }
  
  .img-desc {
    bottom: 64px;
    left: 28px;
    margin: -30px;
    width: 96%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s ease;
  }
  
  .img-container:hover .img-desc {
    opacity: 1;
  }

#menu-bar-icon {
    position: fixed;
    background-color: #8c0000;
    color: white;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

#menu-items {
    position: fixed;
    top: 50px;
    right: 0px;
    left: -50px;
    bottom: 0px;
    max-height: 250px;
    text-align: left;
    color: #e2bfbf;
    background-color: #8c0000;
    font-family: 'IBMPlexSans-Medium';
}

#york-logo {
    display:block;
    margin-top: 125px;
    margin-left:auto;
    margin-right:auto;
}

#subtitle {
    text-align: center;
    font-family: 'IBMPlexSans-Medium';
    font-style: italic;
}

#darkModeB {
    position: fixed; 
    right: 30px; 
    top: 10px;
    background-color: #8c0000;
    color: black;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'IBMPlexSans-Bold';
    margin-right: 40px;
}

#darkModeB.hover { background-color: #ff000075 }

#darkModeB:active {
    background-color: #ff000075;
    transform: translateY(4px);
}

#portalbody {
    outline: 16px solid #e31837;
    text-align: center;
    margin: 150px;
    font-family: 'IBMPlexSans-Bold';
}

#courseChkbox {
    position: fixed;
    top:77px;
    left:50px;
}

#miscChkbox {
    position: fixed;
    top:77px;
    left:383px;
}

@font-face {
    font-family: 'IBMPlexSans-Bold';
    src: url('fonts/IBMPlexSans-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'IBMPlexSans-Medium';
    src: url('fonts/IBMPlexSans-Medium.ttf') format('truetype');
}
  