/* Dark Mode */
.dark-mode {
    background-color: black;
    color: white;
}

#darkModeB {
    top: 1.25rem;
    right: 5%;
    height: 30px;
    background-color: #8c0000;
    color: black;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'IBMPlexSans-Bold';
    transition: margin-top ease;
    position: absolute;
}

#darkModeB.hover { background-color: #ff000075 }

#darkModeB:active {
    background-color: #ff000075;
    transform: translateY(4px);
}

@media (max-width: 500px) {
    #darkModeB {
        display: none;
    }
}