/* Dark Mode */
.dark-mode {
    background-color: #2b2d31;
    color: white !important;
}

.menu-bar-1-dm {
    background-color: #18191a !important ;
    text-shadow: none !important ;
}

.portal-body-dm {
    outline: 16px solid #18191a !important;
}

.menu-bar-2-dm {
    background-color: #0d0d0d !important;
    color: white !important;
}


#darkModeB {
    top: 1.25rem;
    right: 5%;
    height: 30px;
    background-color: #8c0000;
    color: black;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'IBMPlexSans-Bold';
    transition: margin-top ease;
    position: absolute;
}

#darkModeB.hover { background-color: #ff000075 }

#darkModeB:active {
    background-color: #ff000075;
    transform: translateY(4px);
}

@media (max-width: 500px) {
    #darkModeB {
        display: none;
    }
}