/* General */
a {
    color: inherit;
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }

div {
    display: inline-block;
    margin-left: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

#defMsg {
  display: none;
  padding: 80px;
  font-size: 36px;
}

/* Fonts */
@font-face {
    font-family: 'IBMPlexSans-Bold';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'IBMPlexSans-Medium';
    src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
}
  