/* Header */
#york-logo {
    display:block;
    position: relative;
    top: 21px;
    margin-left: 2.25rem;
    width: 150px;
}

#subtitle {
    text-align: left;
    position: relative;
    margin-left: 5.5rem;
    bottom: 5px;
    font-family: 'IBMPlexSans-Medium';
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px #9a0100;
    letter-spacing: .1em;
    line-height: 1em;
    white-space: nowrap;
}