/* Menu Bar */
.menu-bar {
    width: 99.99%;
    margin: 0px;
    top: 25px;
    left: 0px;
    height: 64px;
    background-color: #e31837;
    transition: margin-top 0.3s ease;
    position: relative;
}

.menu-bar.fixed {
    position: fixed;
    top:0;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 19px;
  display: inline-block;
  margin: 16px 0;
  cursor: pointer;
}

.hamburger-bar {
    display:block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.courses, .misc {
    margin-top: 70px;
    margin-left: 80px;
    white-space: nowrap;
}

.chkBox-container {
    position:absolute;
    top: 20px;
    left: 0px;
    font-size: 24px;
    font-weight: bold;
}

#misc-container {
    left: 365.5px;
}

#hamburger-box {
    top: 0px;
      right: 0px;
      width: 65px;
      height: 64px;
      background-color: #8c0000;
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      position: absolute;
}

#menu-items {
    position: relative;
    width: 100%;
    margin: 0px;
    top: -8px;
    height: 230px;
    text-align: left;
    color: #e2bfbf;
    background-color: #8c0000;
    font-family: 'IBMPlexSans-Medium';
}